<%= form_for(@content_prueba) do |f| %>
  <% if @content_prueba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_prueba.errors.count, "error") %> prohibited this content_prueba from being saved:</h2>

      <ul>
      <% @content_prueba.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellidos %><br>
    <%= f.text_field :apellidos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
