        <!-- Menu -->       
        <div class="navbar">                                
            <div class="navbar-inner">                                  
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->                                  
                <div class="nav-collapse collapse">                                     
                    <ul class="nav top-2">
                        <li class="active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active"><%= link_to "Option1: Landing Page", content_mains_path %></li>
                                <li><%= link_to "Option2: Header Option", page_home2_content_mains_path %></li>
                                <li><%= link_to "Option3: Revolution Slider", page_home3_content_mains_path %></li>
                                <li><%= link_to "Option4: Amazing Content", page_home4_content_mains_path %></li>
                                <li><%= link_to "Option5: Mixed Content", page_home5_content_mains_path %></li>
                                <li><%= link_to "Option6: Content with Sidebar", page_home6_content_mains_path %></li>
                                <li><%= link_to "Option7: Aplle Style Slider", page_home7_content_mains_path %></li>
                                <li><%= link_to "Home All In One", all_in_one_content_mains_path %></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Paginas
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "About Us", page_about_content_pages_path %></li>
                                <li><%= link_to "page_services", page_services_content_pages_path %></li>
                                <li><%= link_to "page_pricing", page_pricing_content_pages_path %></li>
                                <li><%= link_to "page_coming_soon", page_coming_soon_content_pages_path %></li>
                                <li><%= link_to "FAQs", page_faq_content_pages_path %></li>
                                <li><%= link_to "Search Result", page_search_content_pages_path %></li>
                                <li><%= link_to "Gallery", page_gallery_content_pages_path %></li>
                                <li><%= link_to "Registration", page_registration_content_pages_path %></li>
                                <li><%= link_to "Login", page_login_content_pages_path %></li>
                                <li><%= link_to "404", page_404_content_pages_path %></li>
                                <li><%= link_to "Clients", page_clients_content_pages_path %></li>
                                <li><%= link_to "Privacy Policy", page_privacy_content_pages_path %></li>
                                <li><%= link_to "Terms of Service", page_terms_content_pages_path %></li>
                                <li><%= link_to "2 Columns (Left)", page_column_left_content_pages_path %></li>
                                <li><%= link_to "2 Columns (Right)", page_column_right_content_pages_path %></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Features
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Grid Layout", feature_grid_content_pages_path %></li>
                                <li><%= link_to "Typography", feature_typography_content_pages_path %></li>
                                <li><%= link_to "Thumbnails", feature_thumbnail_content_pages_path %></li>
                                <li><%= link_to "Components", feature_component_content_pages_path %></li>
                                <li><%= link_to "Navigation", feature_navigation_content_pages_path %></li>
                                <li><%= link_to "Tables", feature_table_content_pages_path %></li>
                                <li><%= link_to "Forms", feature_form_content_pages_path %></li>
                                <li><%= link_to "Icons", feature_icons_content_pages_path %></li>
                                <li><%= link_to "Buttons", feature_button_content_pages_path %></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Portfolio", portfolio_content_pages_path %></li>
                                <li><%= link_to "Portfolio Item", portfolio_item_content_pages_path %></li>
                                <li><%= link_to "Portfolio 2 Columns", portfolio_2columns_content_pages_path %></li>
                                <li><%= link_to "Portfolio 3 Columns", portfolio_3columns_content_pages_path %></li>
                                <li><%= link_to "Portfolio 4 Columns", portfolio_4columns_content_pages_path %></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Blog", blog_content_pages_path %></li>
                                <li><%= link_to "Blog Item", blog_item_content_pages_path %></li>
                                <li><%= link_to "Blog Left Sidebar", blog_left_sidebar_content_pages_path %></li>
                                <li><%= link_to "Blog Item Left Sidebar", blog_item_left_sidebar_content_pages_path %></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Contact Default", page_contact_content_pages_path %></li>
                                <li><%= link_to "Contact Boxed Map", page_contact1_content_pages_path %></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li><a class="search"><i class="icon-search search-btn"></i></a></li>                               
                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form />
                                <input type="text" class="span3" placeholder="Search" />
                                <button type="submit" class="btn-u">Go</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->                                
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->  